/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 2rem;
	--nav-width: 68px;

	/*===== Colors =====*/
	--first-color: #000000;
	--first-color-light: #ffffff;
	--white-color: #ffffff;
	--yellow-color: #b9bb4f;

	/*===== Font and typography =====*/
	--body-font: 'Nunito', sans-serif;
	--normal-font-size: 1rem;

	/*===== z index =====*/
	--z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: var(--header-height) 0 0 0;
	padding: 0 1rem;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: .5s;
}

a {
	text-decoration: none !important;
}

/*===== HEADER =====*/
.header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background-color: var(--white-color);
	z-index: var(--z-fixed);
	transition: .5s;
}

.header__toggle {
	color: var(--first-color);
	font-size: 1.5rem;
	cursor: pointer;
}

/*===== NAV =====*/
.l-navbar {
	position: fixed;
	top: 0;
	left: -30%;
	width: var(--nav-width);
	height: 100vh;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--first-color);
	padding: .5rem 1rem 0 0;
	transition: .5s;
	overflow: hidden;
	z-index: var(--z-fixed);
}

.nav {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.backgorund_logo{
	position: relative;
	background: var(--white-color);
	width: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.nav__logo,
.nav__link {
	display: grid;
	grid-template-columns: max-content;
	align-items: center;
	column-gap: 1rem;
	padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo {
	margin-bottom: 2rem;
}

.nav__logo-icon {
	font-size: 1.7rem;
	color: var(--first-color);
}

.nav__logo-name {
	color: var(--first-color);
	font-weight: 700;
}

.nav__link {
	position: relative;
	color: var(--first-color-light);
	margin-bottom: 1rem;
	transition: .3s;
}

.nav__link:hover {
	color: var(--yellow-color);
}

.nav__icon {
	font-size: 1.7rem;
}

.aksi{
	margin-top: 305px;
}
.dropdown-item:hover {
	background-color: var(--yellow-color) !important;
}

/* body */
.margin{
	margin-top: 70px;
}

.card-dashboard:hover {
	transform: scale(1.02);
}

.dgambar{
	height: 200px;
	width: 100px;
}
.dgambar:hover{
	transform: scale(1.02);
}

/* footer */
.footer-dashboard{
	position: relative;
	margin-top: 480px;
}
.footer-detail{
	position: relative;
	margin-top: 370px;
}
.footer-detail-history{
	position: relative;
	margin-top: 45px;
}
.footer-edit{
	position: relative;
	margin-top: 380px;
}

/*Show navbar movil*/
.show {
	left: 0;
}

/*Add padding body movil*/
.body-pd {
	padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active {
	color: var(--white-color);
}

.active::before {
	content: '';
	position: absolute;
	left: 0;
	width: 2px;
	height: 32px;
	background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
	body {
		margin: calc(var(--header-height) + 1rem) 0 0 0;
		padding-left: calc(var(--nav-width) + 2rem);
	}

	.header {
		height: calc(var(--header-height) + 1rem);
		padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
	}

	.l-navbar {
		left: 0;
		padding: 1rem 1rem 0 0;
	}

	/*Show navbar desktop*/
	.show {
		width: calc(var(--nav-width) + 156px);
	}

	/*Add padding body desktop*/
	.body-pd {
		padding-left: calc(var(--nav-width) + 188px);
	}
}
